

.container {
  max-width: 60%;
  margin: 0 auto;
}

header {
  padding: 20px 15px 15px 15px;  
}

h2 {
  font-weight: 400;
  font-family: Montserrat,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2B9BBC;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 175px;
}

ul {
  margin: 0;
  padding: 20px 15px 15px 15px;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  list-style: none;
  display: inline-block;
  border-radius: 3px;
  background: #F8F8F8;
  margin: 0px 10px 10px 0px;
  padding: 5px;
}
li:hover {
  cursor: pointer;
}
.text{
  color: #383C4A;
  font: 1.6em/1.5 "proxima-nova", Helvetica, Arial, sans-serif;
}